{% extends 'layout.html' %}

{% block main%}
	<ol class="breadcrumb">
	  <li><a href="/">管理首页</a></li>
	  <li><span>添加内容</span></li>
	</ol>
<h3>添加内容</h3>

<form role="form">
  <div class="form-group">
    <label for="name">内容名称:</label>
    <select name="contentID" id="giser" class="form-control">
	    	{% for giser in gisers%}
	    	<option value="{{giser.id}}">{{giser.name}}</option>
	    	{%endfor%}
    </select>
  </div>
   <div class="form-group">
    <label for="title">标题:</label>
    <input type="text" class="form-control" id="title" placeholder="请输入标题名称" name="title">
  </div>
  <div class="form-group">
    <label for="derection">简介:</label>
    <textarea name="derection" rows="3" placeholder="请输入简介" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="content">内容:</label>
    <textarea name="content" rows="7" placeholder="请输入内容"  class="form-control"></textarea>
  </div>
  <a href="javascript:;" id="contentsubmit" class="btn btn-default" val="{{contents.id.toString()}}">提交</a>
</form>

	
{% endblock%}