{% extends 'layout.html' %}

{% block main%}
	<ol class="breadcrumb">
	  <li><a href="/">管理首页</a></li>
	  <li><span>修改导航</span></li>
	</ol>
<h3>修改导航 - {{gisers.name}}</h3>

<form role="form" method="post">
  
   <div class="form-group">
    <label for="name">导航名称</label>
    <input type="text" class="form-control" id="name" placeholder="请输入导航名称" name="name" value="{{gisers.name}}">
  </div>
    <a href="javascript:;" class="btn btn-default updateSubmit" val="{{gisers.id.toString()}}">提交</a>
</form>

	
{% endblock%}