{% extends 'layout.html' %}

{% block main%}
	<ol class="breadcrumb">
		  <li><a href="#">后台首页</a></li>
		  <li class="active">图片展示</li>
	</ol>
	<h3>图片列表展示</h3>
	<table class="table table-hover table-striped">
		<tr>
			<th>id</th>
			<th>图片名称</th>
			<th>跳转地址</th>
			<th>添加时间</th>
			<th>图片地址</th>
			<th>操作</th>
		</tr>
		{% for img in imgs %}
		<tr>
			<td>{{img._id.toString()}}</td>
			<td>{{img.name}}</td>
			<td>{{img.url}}</td>
			<td>{{img.createTime|date('Y年m月d日 H:i:s',-8*60)}}</td>
			<td>{{img.imgurl}}</td>
			<td>
				<a href="/admin/img/update?id={{img._id.toString()}}">修改</a>
				<a href="javascript:;" val="{{img._id.toString()}}" class="imgdel">删除</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% include 'page.html' %}

{% endblock%}